@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regra de segurança para imagens não ficarem gigantes */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; /* Evita barra de rolagem lateral */
}