@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #050505;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Customização das setas do Carrossel */
.swiper-button-next, .swiper-button-prev {
  color: #D4AF37 !important;
}

.swiper-pagination-bullet {
  background: #D4AF37 !important;
}

/* Scrollbar elegante */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #D4AF37;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}